/* .btn{
    background-color: aqua;
    color: blue;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 10px;
    border-color: brown;
    
}

#closebtn{
    background-color: yellow ;
    border-color: blue;
}

/* .new{
   
    background-color: blueviolet;
    margin: 300;
}
.hellonew{
    border-color: brown;
    border-radius: 2;
    background-color: blueviolet;
} */

/* .second{
    border-color: green;
    border-style: double;
   
    border-width: 20px;
}
.bootcamp{
    border-color: brown;
    border-style: dotted;
} */ 